/* ------------------------ */
/* Custom properties     */
/* ------------------------ */

:root {
  --clr-darkhumor: 349, 67%, 24%;
  --clr-scarlet-apple: 348, 54%, 37%;
  --clr-rosenkavalier: 353, 27%, 64%;
  --clr-aqua-obscura: 178, 93%, 22%;
  --clr-black: 0, 0%, 0%;
  --clr-white: 0, 0%, 100%;
}

/* ------------------------ */
/* Resets      */
/* ------------------------ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* set up the body (default line-height is 1.4) */
body {
  line-height: 1.5;
  min-height: 100vh;
  max-width: 960px;
  margin: auto;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove all animations and s mooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------ */
/* Utility classes      */
/* ------------------------ */

.flex {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
}

.container {
  padding: 0 2em;
  max-width: 80rem;
  margin: 0 auto;
}
.color-container {
  justify-content: space-between;
}

/* Colors */
.bg-dark {
  background-color: hsl(var(--clr-darkhumor));
}
.bg-green-accent {
  background-color: hsl(var(--clr-aqua-obscura));
}
.bg-medium-accent {
  background-color: hsl(var(--clr-scarlet-apple));
}
.bg-light {
  background-color: hsl(var(--clr-rosenkavalier));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-black {
  background-color: hsl(var(--clr-black));
}

.text-black {
  color: hsl(var(--clr-black));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* containers */
.color-panel {
  padding: 3rem 1rem 1rem;
  border: 1px solid white;
}

header {
  padding: 20px;
}
.logo {
  width: 200px;
}

h1 {
  text-align: center;
}
